/* Fonte principal para toda a página */
body {
    background-color: #56ab2f;
    font-family: 'Josefin Sans', sans-serif;
    animation: fadeInBody 1.5s ease-in;
}

/* Animação de fade-in para o corpo */
@keyframes fadeInBody {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Estilo do card */
.card {
    background: white;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    animation: fadeInCard 1s ease-out;
}

/* Animação para o card */
@keyframes fadeInCard {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Título */
h1 {
    color: #56ab2f;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    animation: fadeInTitle 1.2s ease-out;
}

/* Animação para o título */
@keyframes fadeInTitle {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Estilo dos inputs */
.form-control {
    border-radius: 10px;
    background-color: #f8f3e8;
    border: 2px solid #56ab2f;
    padding: 10px;
    animation: fadeInInput 1.4s ease-out;
}

/* Animação para os inputs */
@keyframes fadeInInput {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Botão principal */
.btn-primary {
    background-color: #56ab2f;
    border-color: #56ab2f;
    font-size: 18px;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    animation: fadeInButton 1.5s ease-out;
}

/* Animação para os botões */
@keyframes fadeInButton {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn-primary:hover {
    background-color: #3f8d23;
    border-color: #3f8d23;
}
